.footer{
    margin: 1vw;
    display: flex;
    justify-content: space-between;
    width: 98vw;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(201, 201, 201, 0.226);
}

.head, .center, .tail{
    margin: 1vw;
    display: flex;
    justify-content: space-between;
}

.center{
    margin: .5vw;
    width: 20vw;
    justify-content: center;
}

.tail{
    justify-content: right;
}

.center h2{
    color: var(--primary);
    font-weight: 800;
}

.head, .tail{
    width: 13vw;
}

.head a, .tail a{
    text-decoration: none;
    color: var(--primary);
    font-weight: 500;
}

#active{
    opacity: 70%;
}

